:root {
  --primary: #ff0f00;
  --secondary: #3c53f1;
  --text: #161414;
  --dark-2: #544d4d;
  --dark-3: #d6d6d6;
}

.hide {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px;
}

.hero {
  text-align: center;
}

.hero__text {
  font-weight: bold;
  font-size: 48px;
  color: var(--text);
  margin-bottom: 0rem;
}

.hero__description {
  font-size: 24px;
  color: var(--dark-2);
  text-align: left;
  max-width: 600px;
}

.hero__center-el {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 36px;
  border: 0;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.features {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 70px;
}

.feature h3 {
  font-weight: bold;
}

.feature p {
  color: var(--dark-2);
}

.logo {
  height: 48px;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--primary);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--dark-3);
  color: var(--dark-3);
  font-size: 14px;
}

footer a {
  color: var(--dark-3);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
}

nav li {
  margin-left: 16px;
}

main {
  min-height: 77vh;
}

@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
  }

  .quote {
    display: block;
  }
}
